<% include partials/header %>
<div class="container">
  <h1>Landing Page!</h1>

  <p>Welcome to LiveStock!</p>
  <ul class="list-group">
    <li class="list-group-item">
      <a
        href="https://www.scientificamerican.com/article/how-coronaviruses-cause-infection-from-colds-to-deadly-pneumonia1/"
        >Coronaviruses Cause Infection from Colds to Deadly Pneumonia...</a
      >
    </li>
    <li class="list-group-item">
      <a
        href="https://www.iaea.org/newscenter/news/bosnia-and-herzegovina-veterinary-labs-equipped-to-diagnose-animal-diseases-using-nuclear-derived-techniques"
        >Bosnia and Herzegovina Veterinary Labs Equipped to Diagnose Animal
        Diseases Using Nuclear-Derived Techniques</a
      >
    </li>

    <li class="list-group-item">
      <a
        href="https://www.theguardian.com/environment/2020/jan/21/live-animals-are-the-largest-source-of-infection-dangers-of-the-export-trade"
        >Live animals are the largest source of infection...</a
      >
    </li>

    <li class="list-group-item">
      <a
        href="https://www.voanews.com/science-health/coronavirus-outbreak/live-animal-markets-worldwide-can-spawn-diseases-experts-say"
        >Live Animal Markets Worldwide Can Spawn Diseases...</a
      >
    </li>
  </ul>
  <button class="btn btn-outline-info">
    <a href="/animals">View All LiveStock</a>
  </button>
</div>
<% include partials/footer %>
